footer  {
    background-color: black;
    color: white;
}
h1 , h2{
    font-family: 'Alfa Slab One' , cursive;
    color: black solid;
}
.hero   {
    background:url(../img/911e0699-62f0-42b6-b3e0-d726af4d461d.jfif) ;
    background-size: cover;
    height: 50vh;
    min-height: 600px;
    color: black;
}
.lista-novedades    {
    margin: 0;
    padding: 0;
    list-style: none;
}
.lista-novedades li{
    margin: 40px 0; 
}
.lista-novedades li a{
    background-color: #fff;
    font-family: 'Alfa Slab One';
    text-decoration: none;
    font-size: 1.2rem;
    color: #a0a0a0;
    transition: all .2s ease-in-out;
    display: block;
}
.lista-novedades li a:hover {
    color: #212529;
    background-color: #dadada;
}
.lista-novedades li a img{
    width: 100px;
    height: 100px;
    filter: grayscale();
    transition: all 2.s ease-in-out;
    margin-right: 1rem;
    opacity: 0.7;
    
}
.lista-novedades li a:hover img{
    filter: none;
     margin-right: 1.4rem;
     opacity: 1;
}